snippet im main function
	int main(int argc, char **argv) {
		${1}
	}

snippet fo for loop
	for (${1:int} ${2:i} = ${3:0}; ${2} ${4:< n}; ${2}++) {
		${6}
	}

snippet wh while loop
	while (${1}) {
		${2}
	}

snippet pf printf
	printf("${1}\n"${2});
